*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


html{
    font-family: 'Fira Code', monospace;
    background-color: rgb(17, 68, 6);
    text-align: center;
}

body{
    background-image: url(imagens/table.png);
    background-size: calc();
}

h1{
    color: goldenrod;
    margin: 20px;
    margin-top: 80px;
    font-weight: 700;
    font-size: 45px;
}

p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(31, 31, 31);
    margin-top: 20px;
}